@using FirstSaturdayOrga.Contracts
<TableCard Title="Aantal agents per factie" HeaderColor="@HeaderColor" TableClass="dash-table__table--post">
    <thead>
        <tr>
            <th>Agents ENL</th>
            <th>Agents RES</th>
            <th>Agents Total</th>
            <th>Most Agents</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fsEvent in FSEvents) {
            <tr>
                <td class="@GetEnlClass(fsEvent.AgentsEnl, fsEvent.AgentsRes)">@fsEvent.AgentsEnl</td>
                <td class="@GetResClass(fsEvent.AgentsEnl, fsEvent.AgentsRes)">@fsEvent.AgentsRes</td>
                <td>@fsEvent.AgentsTotal</td>
                <td class="@GetMostAgentsClass(fsEvent.MostAgents)">@fsEvent.MostAgents</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="row--totals">
            <td class="@GetEnlClass(_totalAgentsEnl, _totalAgentsRes) cell--totals">@_totalAgentsEnl</td>
            <td class="@GetResClass(_totalAgentsEnl, _totalAgentsRes) cell--totals">@_totalAgentsRes</td>
            <td class="cell--totals">@_totalAgents</td>
            <td class="@GetMostAgentsClass(_mostAgentsTotal) cell--totals">@_mostApTotalDisplay</td>
        </tr>
    </tfoot>
</TableCard>

@code {
    [Parameter] public IReadOnlyList<FSEventNumbersListItem> FSEvents { get; set; } = [];
    [Parameter] public HeaderColor HeaderColor { get; set; } = HeaderColor.Red;

    private int? _totalAgentsEnl => FSEvents.Sum(e => e.AgentsEnl);
    private int? _totalAgentsRes => FSEvents.Sum(e => e.AgentsRes);
    private int? _totalAgents => FSEvents.Sum(e => e.AgentsTotal);
    private int? _countEnlWon => FSEvents.Count(e => e.AgentsEnl > e.AgentsRes);
    private int? _countResWon => FSEvents.Count(e => e.AgentsRes > e.AgentsEnl);
    private int? _countEqual => FSEvents.Count(e => e.AgentsRes == e.AgentsEnl);
    private string? _mostAgentsTotal => _countEnlWon > _countResWon ? "ENL" : _countResWon > _countEnlWon ? "RES" : "Gelijk";
    private string? _mostApTotalDisplay => _countEnlWon > _countResWon ? $"ENL {_countEnlWon}x - RES {_countResWon}x" : _countResWon > _countEnlWon ? $"RES {_countResWon}x - ENL {_countEnlWon}x" : "Gelijk";

    private string GetEnlClass(int? nrEnl, int? nrRes)
        => nrEnl > nrRes ? "cell--enl-win" : "";

    private string GetResClass(int? nrEnl, int? nrRes)
        => nrRes > nrEnl ? "cell--res-win" : "";

    private string GetMostAgentsClass(string? mostAgents)
        => mostAgents switch {
            "ENL" => "cell--enl-win",
            "RES" => "cell--res-win",
            _ => ""
        };

   

}
