@using FirstSaturdayOrga.Contracts

<TableCard Title="@Year.ToString()"
    HeaderColor="@HeaderColor"
    TableClass="dash-table__table--post"
>
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>City</th>
            <th>Agents ENL</th>
            <th>Agents RES</th>
            <th>Agents Total</th>
            <th>Most Agents</th>
            <th>AP ENL</th>
            <th>AP RES</th>
            <th>AP Total</th>
            <th>Most Ap</th>
        </tr>
    </thead>
    <tbody>    

        @foreach (var fsEvent in FSEvents) {
            <tr>
                <td>@fsEvent.Year</td>
                <td>@fsEvent.Month</td>
                <td>@fsEvent.City</td>
                <td>@fsEvent.AgentsEnl</td>
                <td>@fsEvent.AgentsRes</td>
                <td>@fsEvent.AgentsTotal</td>
                <td>@fsEvent.MostAgents</td>
                <td>@fsEvent.ApEnl</td>
                <td>@fsEvent.ApRes</td>
                <td>@fsEvent.ApTotal</td>
                <td>@fsEvent.MostAp</td>
            </tr>
        }
    </tbody>
</TableCard>

@code {
    [Parameter] public int Year { get; set; }
    [Parameter] public IReadOnlyList<FSEventNumbersListItem> FSEvents { get; set; } = [];
    [Parameter] public HeaderColor HeaderColor { get; set; } = HeaderColor.Red;
}