@using FirstSaturdayOrga.Contracts

<TableCard Title="@Title"
    HeaderColor="@HeaderColor"
    TableClass="dash-table__table--pre">
    @if (ShowHeaders) {
        <thead>
            <tr>
                <th>Maand</th>
                <th>Plaats</th>
                <th>Provicie</th>
            </tr>
        </thead>
    }
    <tbody>
        @foreach (var fsEvent in FSEvents) {
            <tr>
                <td>@fsEvent.Month</td>
                <td>@fsEvent.City</td>
                <td>@fsEvent.Province</td>
            </tr>
        }
    </tbody>
</TableCard>

@code {
    [Parameter] public string Title { get; set; } = "All FS";
    [Parameter] public IReadOnlyList<FSEventListItem> FSEvents { get; set; } = [];
    [Parameter] public HeaderColor HeaderColor { get; set; } = HeaderColor.Red;
    [Parameter] public bool ShowHeaders { get; set; } = false;

}